---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre Mí | Macarena Sofía Alonso Arias" description="Acerca de Macarena Sofía Alonso Arias">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre Mí"
				tagline=""
			>
			</Hero>

			<section>
				<h2 class="section-title">Experiencia Profesional</h2>
				<div class="content">
					<div class="content_experience">
						<strong>Frontend Developer</strong>
						<span>Freelance, España / Agosto 2024 - Actualidad</span>
						<ul>
							<li>Desarrollo de web de streaming y compra/alquiler de películas para Lopez-Li Films utilizando ReactJs con Vite, Redux, React-Router-Dom.</li>
							<li>Integración con la API de MedusaJs para el ecommerce e integración con la API de Stripe para los pagos.</li>
							<li>Utilización de VideoJs para reproducción de películas.</li>
							<li>Utilización de Axios para llamadas API y Jwt-Decode.</li>
							<li>Utilización de EsLint en VSCode para debug.</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>Frontend Developer</strong><br>
						<span>Convertia, España / Agosto 2022 - Actualidad</span>
						<ul>
							<li>Desarrollo de sitios web en HTML, CSS y Javascript.</li>
							<li>Desarrollo de Emails en HTML.</li>
							<li>Desarrollo de Contenido de SEO para los sitios web.</li>
							<li>Optimizaciones y mejoras en sitios ya desarrollados.</li>
							<li>Utilización de GIT y/o plataforma de CRM.</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>Frontend Developer</strong><br>
						<span>Wunderman Thompson, Argentina / Enero 2021 - Mayo 2022</span>
						<ul>
							<li>Desarrollo y Producción de Banners Animados en HTML, CSS y JS en diferentes medidas según pedido cliente.</li>
							<li>Desarrollo y Producción de Banners Animados en Adobe Animate en diferentes medidas según el cliente.</li>
							<li>Edición y Actualización de diseños en Adobe Photoshop.</li>
							<li>Edición y Actualización de Emails Comps en Adobe Photoshop y Sketch.</li>
							<li>Manejo de Uhub/Jira</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>Tutor Curso Desarrollo Web</strong><br>
						<span>Coderhouse, Argentina / Octubre 2020 - Febrero 2021</span>
						<ul>
							<li>Corrección de desafíos por clase y, pre entregas del Proyecto Final.</li>
							<li>Apoyo, seguimiento, asesoramiento y resolución de consultas de los alumnos a diario.</li>
							<li>Búsqueda de materiales extra y desarrollo de ejemplos de cada tema del programa.</li>
						</ul>
					</div>
					<hr>
					<div class="content_experience">
						<strong>Diseñador Web</strong><br>
						<span>Wunderman Thompson, Argentina / Octubre 2020 - Diciembre 2022</span>
						<ul>
							<li>Desarrollo de Creatividades en Adobe Illustrator según las medidas pedidas por el cliente.</li>
							<li>Animado de los Banners en Adobe Animate.</li>
							<li>Edición y Actualización de Banners estáticos en Illustrator y animados en Animate.</li>
							<li>Manejo de Uhub/Jira , FileZilla y Paquete Adobe.</li>
						</ul>
					</div>
					<hr>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formación</h2>
				<div class="content">
					<ul>
						<li><strong>Curso de SEO y Posicionamiento en Google</strong> <span>- Udemy (2023)</span></li>
						<li><strong>Curso Desarrollo de Aplicaciones React Native</strong> <span>- Coderhouse (2021)</span></li>
						<li><strong>Curso React JS</strong> <span>- Coderhouse (2020)</span></li>
						<li><strong>Curso Javascript + JQuery</strong> <span>- Coderhouse (2020)</span></li>
						<li><strong>Curso Desarrollo Web (HTML5,CSS, SASS, Bootstrap</strong> <span>- Coderhouse (2020)</span></li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<div class="skills">
						<span class="skill">React JS</span>
						<span class="skill">HTML</span>
						<span class="skill">CSS</span>
						<span class="skill">Javascript</span>
						<span class="skill">Astro</span>
						<span class="skill">SASS</span>
					</div>
					<div class="skills">
						<span class="skill">Adobe Photoshop</span>
						<span class="skill">Adobe Illustrator</span>
						<span class="skill">Adobe XD</span>
						<span class="skill">Figma</span>
					</div>
				</div>
			</section>
		</main>

		<div class="cta_bottom">
			<ContactCTA />
		</div>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.skills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        list-style: none;
        margin-top: 10px;
    }
    .skill{
        font-size: var(--text-base);
        background: var(--gradient-accent);
        color: var(--accent-text-over);
        padding: 0.5rem 1rem;
        border-radius: 999rem;
        transition: color var(--theme-transition), background-color var(--theme-transition);
    }

	.cta_bottom{
		align-self: center;
	}

	.content_experience{
		margin: 15px 0 25px 0;
	}

	.content_experience span{
		font-style: italic;
		font-size: var(--text-sm);
	}

	.content_experience ul li,
	.content ul li{
		font-size: var(--text-base);
	}
	.content ul li span{
		font-style: italic;
	}

	.wrapper{
		padding-inline: 2rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 0.5fr 2fr;
			padding-inline: 2.5rem;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
			padding-inline: 2.5rem;
		}
		.content{
			padding-inline: 2.5rem;
		}
	}
</style>
